* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: verdana, sans-serif;
    margin: 2em;
    padding: 0;
  }
  
  nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: grey;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  .hamburger {
    display: none;
    font-size: 2rem;
    color: white;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  nav ul li {
    flex: 0 0 8rem; /*the same as flex-grow, flex-shrink, flex-basis */
    text-align: center;
  }
  
  nav ul li a {
    text-decoration: none;
    padding: 0.8rem 1rem;
    display: block;
  }
  
  nav ul li:hover {
    background-color: rgb(8, 119, 126);
  }
  nav ul li a:hover {
    color: white;
  }
  
  li ul {
    display: none;
    position: absolute;
    background-color: rgb(8, 119, 126);
  }
  
  nav ul li:hover ul {
    display: flex;
    flex-direction: column;
  }
  
  nav ul li ul li {
    flex: 0 1 auto;
    width: 8rem; /* the same as the value for flex-basis on the parent li */
  }
  
  @media screen and (max-width: 700px) {
    nav ul {
      display: none;
      flex-direction: column;
    }
  
    .hamburger {
      display: block;
      float: right;
      cursor: pointer;
    }
  
    /*   ~ the tilda points to the next sibling selector */
  
    input[type="checkbox"]:checked ~ ul {
      display: block;
    }
  
    li ul {
      position: static;
    }
    nav ul li {
      flex: 0 0 auto; /*the same as flex-grow, flex-shrink, flex-basis */
      width: 100%;
    }
  
  }