/* This stylesheet is where to add styles for your Shakespeare Play */
/*We usually add something general for the body*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 45px;
}

@media screen and (max-width: 700px) {
  nav ul {
    display: none;
    flex-direction: column;
  }

  .hamburger {
    display: block;
    float: right;
    cursor: pointer;
  }

  /*   ~ the tilda points to the next sibling selector */

  input[type="checkbox"]:checked ~ ul {
    display: block;
  }

  li ul {
    position: static;
  }
  nav ul li {
    flex: 0 0 auto; /*the same as flex-grow, flex-shrink, flex-basis */
    width: 100%;
  }

}

input[type="checkbox"] {
  display: none;
}

body {
  font-family: 'Cormorant Garamond', serif;
  /*your style rules go in here */
}

section.nav {
  /* this is where your nav list items will be */
}

nav ul li a{
  text-decoration: none;
  padding: 0.8em;
  
}

section {
  border: 0;
}

.backtotop {
  position: fixed;
  bottom: 2px;
  right: 8px;
  opacity: 0.9;
}

.backtotop a {
  text-decoration: none;
  font-size: 3em;
  color: rgb(8, 119, 126);
}

.backtotop a:hover {
  color: black
}


/*Here follows the class names that you will have in your html*/
/*You may have more if you added styles in InDesign*/
/*You need to add the style attributes between the curly brackets*/

/* the following may not be used but it doesn't matter if they are listed here  */

/* If you ahe created any new styles in InDesign and used export tags then you need to add them here */

.character_beforespeech {
  display: block;
  position: relative;
  left: -7am;
  top: 1em;
  font-size: 1.1em;
  width: 4em;
  padding-left: 4px;
  ;
}
section.dramatis { 
  background-color: bisque;
  width: 70%;
  margin: 3em auto;
  padding: 12px;
  text-align: left;
}
section.play {
  background-color: bisque;
  width: 70%;
  margin: 3em auto;
  padding: 20px;
  text-align: left;
}

figure{ 
  width: 70%;
  margin: 0;
}

img {
  width: 50%;
  margin-top: 70;
  margin-left: 215;
}

div.sceneImage {
}
h1.act {
  text-decoration: underline;
  font-size: xx-large;
  text-align: center;
}
p.character {
  font-size: larger;
}
p.charactername {
  font-size: large;
}
h1.dramatishead {
  font-size: xx-large;
  text-decoration:underline;
}
h2.firstscene {
 font-size: x-large;
 text-align: center;
}
h2.location {
  font-size:large;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 4%;

}
p.play_location {
  font-size: medium;
  font-style: italic;
}
p.prose {
  font-size: large;
  padding-left: 6%;
  padding-bottom: 2%;
}
h2.scene {
  font-size:x-large;
  font-weight: bolder;
  font-style: italic;
}
p.song {
  font-style: italic;
  font-size: large;
}
h2.stagedirection {
  font-size: medium;
  font-style: italic;
  font-weight: 700;
  padding-bottom: 1%;
  padding-top: 1%;
}
.verseline {
  margin: 0 0 0.4em 8em;
  font-size:large;

}
span.character_role {
  font-size: xx-large;
}
span.stage_directions_inline {
  
}

span.character_beforespeech {
}


@media screen and (max-width: 800px) {
  html {
    font-size: 12px;
    margin: 0px;
  }
}

@media screen and (max-width:700px) {
  dramatis,
  .play,.dramatis {
    width: 100%;
    padding: 1em 3em;
    margin: 0;
  }
}