/* This stylesheet is where to add styles for your Shakespeare Play */
/*We usually add something general for the body*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 45px;
  margin: 0.5cm
}

nav {
  width: 100%;
  position: fixed;
  top: 0cm;
  left: 0;
  background-color: white;
}

input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 2rem;
  color: black;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav ul li {
  flex: 0 0 8rem; /*the same as flex-grow, flex-shrink, flex-basis */
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  padding: 0.8rem 1rem;
  display: block;
  color:rgb(45, 80, 80);
  font-weight: 600;
  text-align: center;

}

nav ul li:hover {
  background-color: rgb(8, 119, 126);
}
nav ul li a:hover {
  color: white;
}

li ul {
  display: none;
  position: absolute;
  background-color: rgb(8, 119, 126);
}

nav ul li:hover ul {
  display: flex;
  flex-direction: column;
}

nav ul li ul li {
  flex: 0 1 auto;
  width: 8rem; /* the same as the value for flex-basis on the parent li */
}

@media screen and (max-width: 1000px) {
  nav ul {
    display: none;
    flex-direction: column;
  }

  .hamburger {
    display: block;
    float: right;
    cursor: pointer;
    color: black;
  }

  /*   ~ the tilda points to the next sibling selector */

  input[type="checkbox"]:checked ~ ul {
    display: block;
  }

  li ul {
    position: static;
  }
  nav ul li {
    flex: 0 0 auto; /*the same as flex-grow, flex-shrink, flex-basis */
    width: 100%;
  }

}

body {
  font-family: 'Cormorant Garamond', serif;
  /*your style rules go in here */
}

section {
  border: 0;
}

.backtotop {
  position: fixed;
  bottom: 2px;
  right: 8px;
  opacity: 0.9;
}

.backtotop a {
  text-decoration: none;
  font-size: 3em;
  color: rgb(8, 119, 126);
}

.backtotop a:hover {
  color: black
}


/*Here follows the class names that you will have in your html*/
/*You may have more if you added styles in InDesign*/
/*You need to add the style attributes between the curly brackets*/

/* the following may not be used but it doesn't matter if they are listed here  */

/* If you ahe created any new styles in InDesign and used export tags then you need to add them here */

.character_beforespeech {
  display: block;
  position: relative;
  left: -7am;
  top: 1em;
  font-size: 1.1em;
  width: 4em;
  padding-left: 4px;
  ;
}
section.dramatis { 
  background-color: bisque;
  width: 70%;
  margin: 3em auto;
  padding-left: 30px;
  text-align: left;
}
h1.dramatishead {
  text-align: center;
  padding-bottom: 4%;
  padding-top: 2%;
}

section.play {
  background-color: bisque;
  width: 70%;
  margin: 3em auto;
  padding: 20px;
  text-align: left;
}

figure{ 
  width: 70%;
  margin: 0;
}

img {
  width: 50%;
  margin-top: 10%;
  margin-left: 47%;
}

div.sceneImage {
}

h1.act {
  text-decoration: underline;
  font-size: xx-large;
  text-align: center;
}
p.character {
  font-size: large;
}
p.charactername {
  font-size: larger;
}
h1.dramatishead {
  font-size: xx-large;
  text-decoration:underline;
}
h2.firstscene {
 font-size: x-large;
 text-align: center;
}
h2.location {
  font-size:large;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 3%;
}
p.play_location {
  font-size: medium;
  font-style: italic;
  padding-bottom: 4%;
  padding-top: 3%;
}
p.prose {
  font-size: large;
  padding-left: 6%;
  padding-bottom: 2%;
}
h2.scene {
  font-size:x-large;
  font-weight: bolder;
  font-style: italic;
  padding-top: 3%;
  text-align: center;
}
p.song {
  font-style: italic;
  font-size: large;
}
h2.stagedirection {
  font-size: medium;
  font-style: italic;
  font-weight: 700;
  padding-bottom: 1%;
  padding-top: 1%;
}
.verseline {
  margin: 0 0 0.4em 8em;
  font-size:large;

}
span.character_role {
  font-size: large;
  padding-left: 2%;
}
span.stage_directions_inline {
  font-size: xx-large;
}

span.character_beforespeech {
  font-size: xx-large;
}

p.lastlineinverse {
  font-size: xx-large;
  text-align: center;
  padding-top: 5%;
}


@media screen and (max-width: 700px) {
  html {
    font-size: 12px;
    margin: 0px;
  }
li.Home {
  margin-right: auto;
}
  .play,.dramatis {
    width: 100%;
    padding: 1em 3em;
    margin: 0;

  }
}