body {
font-family:'Cormorant Garamond', serif;
background-color: bisque;
margin: 3cm;
}

nav {
    width: 100%;
    position: fixed;
    top: 0cm;
    left: 0;
    background-color: white;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  .hamburger {
    display: none;
    font-size: 2rem;
    color: black;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  nav ul li {
    flex: 0 0 8rem; /*the same as flex-grow, flex-shrink, flex-basis */
    text-align: center;
  }
  
  nav ul li a {
    text-decoration: none;
    padding: 0.8rem 1rem;
    display: block;
    color:rgb(45, 80, 80);
    font-weight: 600;
    text-align: center;

  }
  
  nav ul li:hover {
    background-color: rgb(8, 119, 126);
  }
  nav ul li a:hover {
    color: white;
  }
  
  li ul {
    display: none;
    position: absolute;
    background-color: rgb(8, 119, 126);
  }
  
  nav ul li:hover ul {
    display: flex;
    flex-direction: column;
  }
  
  nav ul li ul li {
    flex: 0 1 auto;
    width: 8rem; /* the same as the value for flex-basis on the parent li */
  }
  
  @media screen and (max-width: 800px) {
    nav ul {
      display: none;
      flex-direction: column;
    }
  
    .hamburger {
      display: block;
      float: right;
      cursor: pointer;
      color: black;
    }
  
    /*   ~ the tilda points to the next sibling selector */
  
    input[type="checkbox"]:checked ~ ul {
      display: block;
    }
  
    li ul {
      position: static;
    }
    nav ul li {
      flex: 0 0 auto; /*the same as flex-grow, flex-shrink, flex-basis */
      width: 100%;
    }
  
  }

main {
    border:5px solid grey;
    background-color: white;
    width: 70%;
    margin:0 auto;
    max-width: 800px;
    display:flex;
    flex-wrap: wrap;
    padding: 1.2em 3em 1em 2em;
}

img {
    margin: 10px;
}

figure {
    width: 100%;
    margin: 10px auto 20px auto;
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 200px;
}

h1,h2{
    font-family:'Cormorant Garamond', serif;
    text-align: left;
}

h1{ font-size: 2.5em;
    text-align: center;}
h2{ font-size: 3em;
    text-align: center;}

section {
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    margin:1.2em -0.5em 3em 1em;
    background-color: rgb(45, 80, 80);
    color:white;
    padding:15px;
}

img {
    width: 100%;
    display: block;

}

p {
    text-align: left;
    padding: 8px;
    flex-basis: 300px;
    flex-shrink: 1;
    flex-grow: 1;
    margin: .5rem;
    font-size: 1.03em;
}

p.First {
    color:white;
    text-align: justify;
    padding: 8px;
    flex-basis: 300px;
    flex-shrink: 1;
    flex-grow: 1;
    margin: .5rem;
}

@media only screen and (max-width: 300px) {

    main {
        width:100%;
        padding: 0;
    
    }

    p {
        font-size: .9em;


    }

    }